// Dimensions
$navbar-height: 3rem;

// Colors
$color-orange: #E49273;
$color-heading: #333;
$color-heading-border: lighten($color-heading, 50);

// Fonts
$font-heading: 'Comic Sans MS', sans-serif;
$font-body: 'Helvetica', sans-serif;
